@use './main' as *;

.section-parcours {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    width: 100%;
    margin-top: 0;
    align-items: center;


    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        max-width: 890px;
        position: absolute;
        z-index: 9;
        margin-left: 80px;

        &__content {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        &__tag {
            display: flex;
            gap: 10px;
        }

        &__illustration {
            width: 100%;
            display: flex;
            justify-content: end;

            .illustration-parcours {
                height: 750px;
            }
        }

    }
}

.section-outils-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    gap: 30px;

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        transform: translateY(0);
        transition: ease-in-out 450ms;
        font-weight: 500;
        opacity: 0.7;

        img {
            height: 50px;
        }

        p {
            color: $main-color;
        }

        &:hover {
            transform: translateY(-15px);
            transition: ease-in-out 200ms;
            opacity: 1;
        }

    }
}

.section-devis {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__card {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-bottom: 50px;
    }


    .container-card {
        width: 300px;
        padding-top: 72px !important;
        padding-bottom: 72px !important;

        &__texte {

            &--image {
                display: flex;
                justify-content: center;
            }

            img {
                width: 100px;
            }
        }

        &:hover {
            @include card-hover-light;
            transition: ease-in-out 250ms;
        }

    }
}