@import './main.scss';

#button {
    text-decoration: none;
    z-index: 99;
    display: ruby;
    font-family: "Inter", sans-serif;
    padding: 12px 24px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    transition: ease-in-out 250ms;

    &:hover {
        @include button-hover-light;
        transition: ease-in-out 250ms;
    }
}

.main-button {
    background-color: $main-color;
    color: $button-default;

    &:hover {
        background-color: $main-button-hover;
        // @include button-hover-light;
        color: $background-color;
        // transition: ease-in-out 250ms;
    }
}

.second-button {
    color: $main-color;
    border: 2px solid $main-color;
}

.nav-link-active {
    color: $main-button-hover;

}