@import './main.scss';

#button,
.footer-button {
    text-decoration: none;
    z-index: 99;
    display: flex;
    font-family: "Inter", sans-serif;
    padding: 12px 24px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    transition: ease-in-out 250ms;
    border: none;
    cursor: pointer;

}

#button:hover {
    @include button-hover-light;
    transition: ease-in-out 250ms;
}

.main-button {
    background-color: $main-color;
    color: $button-default;

    &:hover {
        background-color: $main-button-hover;
        // @include button-hover-light;
        color: $background-color;
        // transition: ease-in-out 250ms;
    }
}

.second-button {
    color: $main-color;
    border: 2px solid $main-color !important;

    &:hover {
        color: $main-button-hover;
        border: 2px solid $second-color;
    }
}

.nav-link-active {
    color: $main-button-hover;

}

.footer-button {
    color: $second-color;

    &:hover {
        color: $main-button-hover;
    }
}