@use './main.scss';

#button,
.footer-button {
    text-decoration: none;
    z-index: 99;
    display: ruby;
    font-family: "Inter", sans-serif;
    padding: 12px 24px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    transition: ease-in-out 250ms;
    border: none;
    cursor: pointer;

}

#button:hover {
    @include main.button-hover-light;
    transition: ease-in-out 250ms;
}

.main-button {
    background-color: main.$main-color;
    color: main.$button-default;

    &:hover {
        background-color: main.$main-button-hover;
        // @include button-hover-light;
        color: main.$background-color;
        // transition: ease-in-out 250ms;
    }
}

.second-button {
    color: main.$main-color;
    border: 2px solid main.$main-color !important;

    &:hover {
        color: main.$main-button-hover;
        border: 2px solid main.$second-color;
    }
}

.nav-link-active {
    color: main.$main-button-hover;

}

.footer-button {
    color: main.$second-color;

    &:hover {
        color: main.$main-button-hover;
    }
}