@import './main.scss';


@mixin container-card() {
    position: relative;
    background: linear-gradient(to right, #040321, #1A0022);
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 36px 72px;
    max-width: 890px;
    margin-left: 18px;
    margin-right: 18px;
    border-radius: 20px;
}

.container-card {
    @include container-card;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        border-radius: 20px;
        padding: 1px;
        background: linear-gradient(to bottom right, #4F30C0, #734BAE);

        // "Version préfixée" pour Chrome/Safari
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;

        // "Version standard" (pour les navigateurs qui la supportent)
        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude;
    }

    &__texte {
        display: flex;
        flex-direction: column;
        gap: 25px;
        overflow: hidden;
    }

    &__banner {
        display: flex;
        gap: 25px;
    }
}