@use './main.scss';

.section-card-site-web {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 80px;

    .parent {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        max-width: 1300px;
        justify-content: center;

        .container-site-web {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 50px;

            &__card {
                width: 600px;
                height: 350px;
                position: relative;
                overflow: hidden;
                border-radius: 20px;

                .background-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                    transition: opacity ease-in-out 250ms;
                }

                .background-shadow {
                    width: 70%;
                    height: 100%;
                    background: #000000b1;
                    position: absolute;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    backdrop-filter: blur(10px);
                    border-bottom-left-radius: 20px;
                    border-top-left-radius: 20px;
                    transform: translateX(-100px);
                    opacity: 0;
                    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 500ms, opacity ease-in-out 250ms;

                    .texte {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        padding-left: 30px;
                        padding-right: 18px;
                    }
                }

                &:hover .background-shadow,
                &.active .background-shadow {
                    transform: translateX(0px);
                    opacity: 1;
                }

                &:hover .background-image,
                &.active .background-image {
                    opacity: 0.6;
                }

                &:focus {
                    outline: 2px solid $main-button-hover;
                }
            }

            &__button-tag {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .flex-tag {
                    display: flex;
                    gap: 10px;
                }
            }

            &__button {
                display: flex;
                gap: 10px;
                align-items: center;
            }
        }
    }
}