@use './main.scss';


@mixin container-card() {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 36px 72px;
    max-width: 890px;
    margin-left: 18px;
    margin-right: 18px;
    border-radius: 20px;
    border: 1px solid $second-color;
    @include background-linear-card;
}

.container-card {
    @include container-card;

    &__texte {
        display: flex;
        flex-direction: column;
        gap: 25px;
        overflow: hidden;
    }

    &__banner {
        display: flex;
        gap: 25px;
    }
}