@use './main.scss';

.form-contact {
    margin-top: 50px !important;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    align-items: center;

    .container {
        display: flex;
        gap: 8px;
        width: 100%;
        flex-direction: column;

        input,
        textarea {
            width: 100%;
            border: main.$second-color 1px solid;
            border-radius: 10px;
            background-color: main.$background-input;

            &:focus {
                border: main.$main-color 1px solid;
                @include main.button-hover-light
            }
        }

        label {
            width: 64px;
            color: main.$second-color;

        }

        &__message {
            flex-direction: column;
            align-items: flex-start;
            height: 100%;

            label {
                width: 100px;
            }
        }

    }

    .btn-submit {
        margin-top: 6px;
        width: 150px;
    }

    .message {
        display: flex;
        gap: 16px;
        align-items: center;


        img {
            width: 32px;
        }
    }
}