@use './main.scss';

footer {
    @include main.background-linear;

    .container-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 18px;
        margin-right: 18px;
        padding-top: 18px;
        padding-bottom: 18px;
    }
}