@import './main.scss';

section {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 90px;
    flex-direction: column;

    .container__buttons {
        display: flex;
        gap: 25px;
    }

    .container__mes-outils {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 890px;
    }
}

.section-form {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-top: 90px;
    margin-bottom: 90px;
    justify-content: center;

    .illustration {
        width: 600px;
        position: relative;
        right: 0px;
    }

    &__texte-form {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 50%;

        .texte {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 25px;
            align-items: start;
        }

    }
}