@use './main.scss';

.section-introduction {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
}

.container__buttons {
    display: flex;
    gap: 25px;
}

.section-outils {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    margin-bottom: 0;

    .container__mes-outils {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 890px;
    }
}

.section-form {
    display: flex;
    flex-direction: row;
    // margin-left: 18px;
    margin-bottom: 90px;
    margin-top: 50px;
    justify-content: center;
    width: 100%;

    .illustration {
        width: 600px;
        position: relative;
        right: 0px;
    }

    &__texte-form {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 50%;
        margin-left: 18px;

        .texte {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 25px;
            align-items: start;
        }

    }
}