@import './main.scss';

body.active-modal {
    overflow-y: hidden;
}



.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    z-index: 99999;
    overflow: hidden !important;

    .overlay {
        background: rgb(4, 1, 12);
        opacity: 0.80;
    }

    .modal__content::-webkit-scrollbar {
        display: none;
    }

    .modal__content {
        position: absolute;
        line-height: 1.4;
        // padding: 14px 28px;
        // padding: 36px 72px;
        width: 400px;
        height: 520px;
        z-index: 999999;
        overflow-y: scroll;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;

        img {
            width: 100px;

        }

    }


    .close-modal {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        background: none;
        border: none;
        padding: 6px 11px !important;
    }

    .info-modal__container {
        padding: 36px 72px;
    }
}

// *************************************

.info-modal__react {
    background-color: #000F11;
    box-shadow: 0px 0px 250px #00D8FF;

    h2,
    p {
        color: #DAF9FF;
    }
}

.info-modal__redux {
    background-color: #0d0021;
    box-shadow: 0px 0px 250px #7f4fcb;

    h2,
    p {
        color: #E8DAFF;
    }
}

.info-modal__javascript {
    background-color: #0B0800;
    box-shadow: 0px 0px 250px #FFC300;

    h2,
    p {
        color: #FFFAEA;
    }
}

.info-modal__notion {
    background-color: #0B0B0B;
    box-shadow: 0px 0px 250px #F5F5F5;

    h2,
    p {
        color: #F5F5F5;
    }
}

.info-modal__github {
    background-color: #0B0B0B;
    box-shadow: 0px 0px 250px #F5F5F5;


    h2,
    p {
        color: #F5F5F5;
        transition: ease-in-out 250ms;
    }
}

.info-modal__ia {
    background: #0f0500;
    box-shadow: 0px 0px 250px rgb(255, 207, 175);


    h2,
    p {
        color: #F5F5F5;
        transition: ease-in-out 250ms;
    }
}

.info-modal__sass {
    background-color: #100008;
    box-shadow: 0px 0px 250px #CB6699;


    h2,
    p {
        color: #FFDAED;
        transition: ease-in-out 250ms;
    }
}

.info-modal__figma {
    background-color: #000617;
    box-shadow: 0px 0px 250px $main-color;


    h2,
    p {
        color: #F3EAFF;
        transition: ease-in-out 250ms;
    }
}


// **************************************
.button__default {
    height: 162px;
    width: 162px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    justify-content: center;
    border: 2px solid $main-color;
    border-radius: 15px;
    background-color: $background-color;
    transition: ease-in-out 250ms;
    color: $main-color;
    cursor: pointer;

    img {
        height: 50px;
    }

    &:hover {
        transition: ease-in-out 250ms;
    }
}

.button__react:hover {
    background-color: #000F11;
    box-shadow: 0px 0px 25px #00D8FF;

    &:hover h3 {
        color: #DAF9FF;
        transition: ease-in-out 250ms;
    }
}

.button__redux:hover {
    background-color: #10002A;
    box-shadow: 0px 0px 25px #7f4fcb;

    &:hover h3 {
        color: #E8DAFF;
        transition: ease-in-out 250ms;
    }
}

.button__javascript:hover {
    background-color: #0B0800;
    box-shadow: 0px 0px 25px #FFC300;

    &:hover h3 {
        color: #FFFAEA;
        transition: ease-in-out 250ms;
    }
}

.button__notion:hover {
    background-color: #0B0B0B;
    box-shadow: 0px 0px 25px #F5F5F5;

    &:hover h3 {
        color: #F5F5F5;
        transition: ease-in-out 250ms;
    }
}

.button__github:hover {
    background-color: #0B0B0B;
    box-shadow: 0px 0px 25px #F5F5F5;


    &:hover h3 {
        color: #F5F5F5;
        transition: ease-in-out 250ms;
    }
}

.button__ia:hover {
    background: #0f0500;
    box-shadow: 0px 0px 25px rgb(255, 207, 175);


    &:hover h3 {
        color: #F5F5F5;
        transition: ease-in-out 250ms;
    }
}

.button__sass:hover {
    background-color: #100008;
    box-shadow: 0px 0px 25px #CB6699;


    &:hover h3 {
        color: #FFDAED;
        transition: ease-in-out 250ms;
    }
}

.button__figma:hover {
    background-color: #000617;
    box-shadow: 0px 0px 25px $main-color;


    &:hover h3 {
        color: #F3EAFF;
        transition: ease-in-out 250ms;
    }
}