@use './main' as *;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 18px;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    @include background-linear
}