@import './main.scss';

.navbar-sticky {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 72px;
    position: sticky;
    z-index: 9999;
    top: 0;
    margin-left: 300px;
    margin-right: 300px;
}

.navbar-sticky a {
    text-decoration: none;
    color: $second-color;
    font-weight: 500;
    padding: 8px 16px;
    font-family: "Inter", sans-serif;
    transition: ease-in-out 250ms;
    border: 2px solid transparent;
    border-radius: 50px;
}

.navbar-sticky a:hover {
    border: 2px solid $second-color;
    color: $main-button-hover;
    border-radius: 50px;
    transition: ease-in-out 250ms;
    @include button-hover-light
}

.navbar-sticky a.active {
    border: 2px solid $main-button-hover;
    border-radius: 50px;
    color: $main-button-hover;
    @include button-hover-light
}