@use './main' as *;

.tag {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 3px 12px;
    width: fit-content;
    background-color: $background-tag;
    transition: ease-in-out 150ms;

    &:hover {
        transform: scale(1.06);
        @include tag-hover-light;
        background-color: #f1b3fd;
    }

}